[user]
    name = 6cdh
    email = cd6cdh@gmail.com

[alias]
    hist = log --pretty=format:'%h %ad [%an] %s%d ' --graph --date=short

[http]
    proxy = http://localhost:4097
[https]
	proxy = http://localhost:4097

[core]
    autocrlf = input
    safecrlf = true

[pull]
    rebase = false

[init]
    defaultBranch = main

[credential "https://github.com"]
	helper = !gh auth git-credential
[diff]
	external = difft
