[user]
    name = 6cdh
    email = cd6cdh@gmail.com
	signingkey = 6E4DAFE82DD7A904!

[alias]
    hist = log --pretty=format:'%h %ad [%an] %s%d ' --graph --date=short

[http]
    proxy = http://localhost:4097
[https]
	proxy = http://localhost:4097

[core]
    autocrlf = false

[pull]
    rebase = false

[init]
    defaultBranch = main

[credential "https://github.com"]
	helper = !gh auth git-credential
[diff]
	external = difft
	tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[commit]
	gpgsign = true
